@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: #f5f6fa;
}
.app {
	display: flex;
	justify-content: space-evenly;
	padding: 1.5rem;
}
.app-left {
	flex: 0.9;
}
.app-right {
	padding: 1rem 2rem;
}
.information {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
}
.info-container {
	width: 150px;
}

.info-flag {
	height: 100px;
	width: 100%;
	background-size: cover;
	border-radius: 8px;
}

@media (max-width: 900px) {
	.app {
		flex-direction: column;
	}
}
@media(max-width: 600px){
	.information{
		flex-direction: column;
	}
	.info-box {
		margin: 1rem 0;
	}
}
