.map {
	padding: 1rem;
	height: 400px;
	background-color: white;
    border-radius: 20px;
    margin: 1rem;
	box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}
.map .leaflet-container{
    height: 100%;
}
